
/* about us css */

body{
    font-family: 'Raleway', sans-serif;
}
#who{
    position: absolute;
    top: 30%;
    left: 25%;
    line-height: 2;
    width: 850px;
}
#what{
    position: absolute;
    top: 60%;
    left: 25%;
    line-height: 2;
    width: 850px;
}
#do{
    font-size: 25px;
    font-weight: 600;
}
#we{
    font-size: 25px;
    font-weight: 600;  
}
#dev{
    position: absolute;
    top: 90%;
    left: 50%;
    font-weight: 900;
    font-size: 25px;
}
#vect-1{
    width: 145px;
}
#vect-2{
    width: 145px;
}
#vect-3{
    width: 170px;
}
#vect-4{
    width: 150px;
}

#sub-1{
    position: absolute;
    display: flex;
    top: 103%;
    left: 35%;
    color: white;
    background-color: #17202A;
    border-radius: 50%;
    padding: 15px;
    cursor: pointer;
    font-size: 20px;
}
#icon-1{
    position: absolute;
    display: flex;
    top: 113%;
    left: 32%;
}
#sub-2{
    position: absolute;
    display: flex;
    top: 103%;
    left: 55%;
    font-size: 20px;
    color: white;
    background-color: #17202A;
    border-radius: 50%;
    padding: 15px;
    cursor: pointer;
}
#icon-2{
    position: absolute;
    display: flex;
    top: 113%;
    left: 50%;
}
#sub-3{
    position: absolute;
    display: flex;
    top: 103%;
    left: 75%;
    font-size: 20px;
    color: white;
    background-color: #17202A;
    border-radius: 50%;
    padding: 15px;
    cursor: pointer;
}
#icon-3{
    position: absolute;
    display: flex;
    top: 113%;
    left: 73%;
}
#sub-4{
    position: absolute;
    display: grid;
    top: 122%;
    left: 35%;
    font-size: 20px;
    color: white;
    background-color: #17202A;
    border-radius: 50%;
    padding: 15px;
    cursor: pointer;
}
#icon-4{
    position: absolute;
    display: flex;
    top: 132%;
    left: 32%;
}
#sub-5{
    position: absolute;
    display: grid;
    top: 122%;
    left: 55%;
    font-size: 20px;
    color: white;
    background-color: #17202A;
    border-radius: 50%;
    padding: 15px;
    cursor: pointer;
}
#icon-5{
    position: absolute;
    display: flex;
    top: 132%;
    left: 50%;
}
#sub-6{
    position: absolute;
    display: grid;
    top: 122%;
    left: 75%;
    font-size: 20px;
    color: white;
    background-color: #17202A;
    border-radius: 50%;
    padding: 15px;
    cursor: pointer;
}
#icon-6{
    position: absolute;
    display: flex;
    top: 132%;
    left: 72%;
}
#inno{
    position: absolute;
    top: 140%;
    left: 25%;
    font-size: 20px;
    line-height: 2;
}
#title{
    font-weight: 900;
}
#field{
    font-weight: 1;
}
#bakame{
    font-weight: 600;
}
#story{
    position: absolute;
    top: 195%;
    left: 25%;
}
#our{

    font-size: 25px;
    font-weight: 900;
}
#vect{
    width: 100px;
    padding: 7px;
    margin-left: -1%;
}
#init{
    line-height: 2;
    font-size: 20px;
}
#tell{
    font-weight: 600;
    line-height: 2;
    font-size: 20px;
}

#mem-1{
    position: absolute;
    top: 240%;
    left: 35%;
    border-radius: 50%;
    z-index: 1;
}
#h-1{
    position: absolute;
    top: 250%;
    left: 25%;
    position: absolute;
    width: 400px;
    border-radius: 12px;
    height: 200px;
    background-color: #FDFEFE ;
    box-shadow: 1px 2px 4px #888888;
    z-index: -1;
}
#name{
    position: absolute;
    top: 25%;
    left: 25%;
}
#pra{
    position: absolute;
    top: 45%;
    left: 5%; 
}
#about{
    position: absolute;
    top: 7%;
    left: 45%;
    font-weight: 700;
    font-size: 55px;
}
#per-2{
    position: absolute;
    top: 250%;
    display: flex;
    left: 65%;
    justify-content: space-between;
}
#mem2{
    position: absolute;
    top: -30%;
    left: 50%;
    transform:translate(-50%);
    border-radius: 50%;
    z-index: 1;
}
#h-2{
    position: relative;
    display: flex;
    top: 250%;
    left: -1%;
    width: 400px;
    border-radius: 12px;
    height: 200px;
    background-color: #FDFEFE ;
    box-shadow: 1px 2px 4px #888888;
    z-index: -1;
}
#name-2{
    position: absolute;
    top: 25%;
    left: 20%;
}
#pra-2{
    position: absolute;
    top: 45%;
    left: 5%; 
}
#per-3{
    position: absolute;
    top: 295%;
    display: grid;
    left: 25%;
    justify-content: space-between;
}
#mem-3{
    position: absolute;
    display: flex;
    top: -25%;
    left: 35%;
    border-radius: 50%;
    z-index: 1;
}
#h-3{
    position: relative;
    display: flex;
    top: 10%;
    left: -1%;
    width: 400px;
    border-radius: 12px;
    height: 200px;
    background-color: #FDFEFE ;
    box-shadow: 1px 2px 4px #888888;
    z-index: -1;
}
#name-3{
    position: absolute;
    top: 25%;
    left: 25%;
}
#pra-3{
    position: absolute;
    top: 45%;
    left: 5%; 
}

#per-4{
    position: absolute;
    top: 295%;
    display: flex;
    left: 65%;
}
#mem-4{
    position: absolute;
    display: flex;
    top: -29%;
    left: 40%;
    border-radius: 50%;
    z-index: 1;
}
#h-4{
    position: relative;
    display: flex;
    top: 250%;
    left: -1%;
    width: 400px;
    border-radius: 12px;
    height: 200px;
    background-color: #FDFEFE ;
    box-shadow: 1px 2px 4px #888888;
    z-index: -1;
}
#name-4{
    position: absolute;
    top: 25%;
    left: 29%;
}
#pra-4{
    position: absolute;
    top: 45%;
    left: 5%; 
}

#per-5{
    position: absolute;
    top: 340%;
    display: grid;
    left: 25%;
    justify-content: space-between;
}
#mem-5{
    position: absolute;
    display: flex;
    top: -25%;
    left: 35%;
    border-radius: 50%;
    z-index: 1;
}
#h-5{
    position: relative;
    display: flex;
    top: 3%;
    left: -1%;
    width: 400px;
    border-radius: 12px;
    height: 200px;
    background-color: #FDFEFE ;
    box-shadow: 1px 2px 4px #888888;
    z-index: -1;
}
#name-5{
    position: absolute;
    top: 25%;
    left: 25%;
}
#pra-5{
    position: absolute;
    top: 45%;
    left: 5%; 
}
#per-6{
    position: absolute;
    top: 340%;
    display: grid;
    left: 65%;
    justify-content: space-between;
}
#mem-6{
    position: absolute;
    display: flex;
    top: -25%;
    left: 35%;
    border-radius: 50%;
    z-index: 1;
}
#h-6{
    position: relative;
    display: flex;
    top: 3%;
    left: -1%;
    width: 400px;
    border-radius: 12px;
    height: 200px;
    background-color: #FDFEFE ;
    box-shadow: 1px 2px 4px #888888;
    z-index: -1;
}
#name-6{
    position: absolute;
    top: 25%;
    left: 30%;
}
#pra-6{
    position: absolute;
    top: 45%;
    left: 5%; 
}

#per-7{
    position: absolute;
    top: 385%;
    display: grid;
    left: 25%;
    justify-content: space-between;
}
#mem-7{
    position: absolute;
    display: flex;
    top: -25%;
    left: 35%;
    border-radius: 50%;
    z-index: 1;
}
#h-7{
    position: relative;
    display: flex;
    top: 3%;
    left: -1%;
    width: 400px;
    border-radius: 12px;
    height: 200px;
    background-color: #FDFEFE ;
    box-shadow: 1px 2px 4px #888888;
    z-index: -1;
}
#name-7{
    position: absolute;
    top: 25%;
    left: 30%;
}
#pra-7{
    position: absolute;
    top: 45%;
    left: 5%; 
}

#per-8{
    position: absolute;
    top: 385%;
    display: flex;
    left: 65%;
    justify-content: space-between;
}
#mem-8{
    position: absolute;
    display: flex;
    top: -25%;
    left: 35%;
    border-radius: 50%;
    z-index: 1;
}
#h-8{
    position: relative;
    display: flex;
    top: 3%;
    left: -1%;
    width: 400px;
    border-radius: 12px;
    height: 200px;
    background-color: #FDFEFE ;
    box-shadow: 1px 2px 4px #888888;
    z-index: -1;
}
#name-8{
    position: absolute;
    top: 25%;
    left: 25%;
}
#pra-8{
    position: absolute;
    top: 45%;
    left: 5%; 
}

#per-9{
    position: absolute;
    top: 425%;
    display: grid;
    left: 25%;
    justify-content: space-between;
}
#mem-9{
    position: absolute;
    display: flex;
    top: -20%;
    left: 35%;
    border-radius: 50%;
    z-index: 1;
}
#h-9{
    position: relative;
    display: flex;
    top: 3%;
    left: -1%;
    width: 400px;
    border-radius: 12px;
    height: 200px;
    background-color: #FDFEFE ;
    box-shadow: 1px 2px 4px #888888;
    z-index: -1;
}
#name-9{
    position: absolute;
    top: 30%;
    left: 30%;
}
#pra-9{
    position: absolute;
    top: 48%;
    left: 5%; 
}
#per-10{
    position: absolute;
    top: 425%;
    display: flex;
    left: 65%;
    justify-content: space-between;
}
#mem-10{
    position: absolute;
    display: flex;
    top: -25%;
    left: 35%;
    border-radius: 50%;
    z-index: 1;
}
#h-10{
    position: relative;
    display: flex;
    top: 3%;
    left: -1%;
    width: 400px;
    border-radius: 12px;
    height: 200px;
    background-color: #FDFEFE ;
    box-shadow: 1px 2px 4px #888888;
    z-index: -1;
}
#name-10{
    position: absolute;
    top: 30%;
    left: 25%;
}
#pra-10{
    position: absolute;
    top: 48%;
    left: 5%; 
}
#del{
    position: absolute;
    /* top: 465%; */
    left: 55%;
}
#vect-6{
    position: absolute;
    top: 470%;
    left: 55%;
    width: 150px;
}
#mis{
    position: absolute;
    top: 480%;
    left: 40%;
    display: block;
    font-size: 25px;
    font-weight: 600;
}
#vect-7{
    position: absolute;
    top: 484%;
    left: 40%; 
    width: 95px; 
}
#vis{
    position: absolute;
    top: 480%;
    left: 80%;
    display: flex;
    font-size: 25px;
    font-weight: 600;
}
#vect-8{
    position: absolute;
    top: 484%;
    left: 80%; 
    width: 85px; 
}
#misi{
    position: absolute;
    top: 485%;
    left: 35%;
    display: grid;
    line-height: 2;
    font-size: 20px;
}
#visi{
    position: absolute;
    top: 485%;
    left: 75%;
    display: grid;
    font-size: 20px;
    line-height: 2;
}
#slog{
    position: absolute;
    top: 520%;
    left: 55%;
}